<!doctype html>
<title>Contacts</title>

<div>
    <form action="addcontact" method="post">
	{% csrf_token %}
        <div>
            <label>
                <span>First Name</span>
                <input type="text" name="given_name"/>
            </label>
        </div>
        <div style="padding-top: 5px;">
            <label>
                <span>Last Name</span>
                <input type="text" name="family_name"/>
            </label>
        </div>
        <div style="padding-top: 5px;">
            <label>
                <span>Email</span>
                <input type="email" name="email"/>
            </label>
        </div>
        <div style="padding-top: 15px;">
            <input type="submit"/>
        </div>
    </form>
</div>

